@import "projects";
@import "admin";

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.second_background {
  background-color: #f9be66;
  background-image: linear-gradient(90deg, rgba(246, 186, 183, 0.7) 0%, rgba(255,255,255,0));
}
